.img1 {
    position: absolute;
    text-align: center;
    color: black;
    border: medium solid black;
    top: 699px;
    left: 391px;
    height: 59px;
    width: 81px;
}

.img2 {
    position: absolute;
    text-align: center;
    border: medium solid black;
    top: 697px;
    left: 531px;
    height: 53px;
    width: 63px;
}


.drop1 {
    position: absolute;
    text-align: center;
    background-color: black;
    color: white;
    top: 399px;
    left: 16px;
    height: 26px;
    width: 264px;
}

.drop2 {
    position: absolute;
    text-align: center;
    background-color: black;
    color: white;
    left: 15px;
    height: 26px;
    width: 264px;
    top: 710px;
}

.drop3 {
    position: absolute;
    text-align: center;
    background-color: black;
    color: white;
    height: 26px;
    width: 264px;
    top: 398px;
    left: 705px;
}

.text1 {
    position: absolute;
    text-align: center;
    border: medium solid black;
    color: black;
    top: 704px;
    left: 711px;
    width: 250px;
}

.text2 {
    position: absolute;
    text-align: center;
    color: black;
    border: medium solid black;
    top: 558px;
    left: 711px;
    width: 250px;
}

.text3 {
    position: absolute;
    text-align: center;
    border: medium solid black;
    color: black;
    top: 561px;
    left: 16px;
    width: 250px;
}

.text4 {
    position: absolute;
    text-align: center;
    border: medium solid black;
    color: black;
    top: 347px;
    left: 307px;
    width: 366px;
    height: 328px;
}

.label2 {
    position: absolute;
    text-align: center;
    background-color: black;
    color: white;
    height: 30px;
    Width: 264px;
    top: 508px;
    left: 14px;
    margin-top: 0px;
}

.labe2:read-only {
    cursor: not-allowed;
}

.label3 {
    position: absolute;
    text-align: center;
    background-color: black;
    color: white;
    height: 30px;
    Width: 264px;
    top: 654px;
    left: 16px;
}

.label3:read-only {
    cursor: not-allowed;
}

.label4 {
    position: absolute;
    text-align: center;
    background-color: black;
    color: white;
    height: 30px;
    Width: 264px;
    top: 347px;
    left: 706px;
    right: 105px;
}

.label4:read-only {
    cursor: not-allowed;
}

.label5 {
    position: absolute;
    text-align: center;
    background-color: black;
    color: white;
    height: 30px;
    Width: 264px;
    top: 656px;
    left: 711px;
    margin-top: 0px;
}

.label5:read-only {
    cursor: not-allowed;
}

.label6 {
    position: absolute;
    text-align: center;
    background-color: black;
    color: white;
    top: 512px;
    left: 711px;
    height: 30px;
    Width: 264px;
}


.label {
    position: absolute;
    text-align: center;
    background-color: black;
    color: white;
    top: 416px;
    left: 617px;
    height:30px;
    Width:264px;
}

.label:read-only {
    cursor: not-allowed;
}